@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: #272928;
    --secondary-color: #676b67;
    --terciary-color: #b8ccb1;
    --acent-color: #f1b24a;
    --text-color: #ffffff;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes aparecer_animation{
    from{
        opacity: 0;
        scale: 0.3;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
body {
    font-family: 'Poppins', 'Arial';
    line-height: 1.6;
    background-color: #1f2020;
    color: var(--text-color);
}
header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-image{
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1;
    
}
@supports(animation-timeline: view()){ /*Faz a animação apenas se ela for suportada pelo browser*/
    .header-image{
        transform-origin: right;
        animation: imagem-header linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}


@keyframes fade-out{
    to{ opacity: 0;}
}

@keyframes imagem-header{
    25%{opacity:1;}
    85%, 100%{opacity:0; scale: 2.5}
}

#cabeca{
    width: 100%;
    text-align: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;

}
#cabeca h1{
    font-size: 10vw;
}
#cabeca p{
    font-size:21.6px;
}
nav{
    position: absolute;
    top:30px;
}
nav ul{
    display: flex;
    list-style-type:none;
    font-size: 21.6px;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

/*---------------About me section-------------------*/
section#sobre{
    display: flex;
    flex-direction: column;
    padding: 15vw 0;
    margin:40px;
    align-items: center;
    justify-content: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -5%;
}
h2{
    font-size: 4vw;
}

.container{
    padding:2vw 10vw;
    width: 100%;
    font-size:1.5vw;
    display: flex;
    gap: 60px;
    align-items: center;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 20px;
}

.sobremimtexto{
    width: 60vw;
}

.container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: aparecer_perfil linear 1s;
    animation-timeline: view();
    animation-range: 0 50%;
}

@keyframes aparecer_perfil {
    from{
        translate: 200% 0;
        border-radius: 0;
        opacity: 0;
    }
    80%, 100%{
        translate:0 0;
        opacity:1;
        border-radius: 50%;
    }
}


/*--------------------Projects Section---------------------*/
section#projetos{
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    margin:40px;
    align-items: center;
    justify-content: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -5%;
}
.wrapper{
    padding: 10px 10%;
}
#card-area{
    padding: 50px 0;
}
.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap:30px;
    margin-top: 40px;
}
.box{
    border-radius:10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.box:nth-child(1) {
    animation: aparecer_project linear 1s forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
    opacity: 0;
    animation-delay: 0s;
}

.box:nth-child(2) {
    animation: aparecer_project linear 1s forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
    opacity: 0;
    animation-delay: 1s;
}

.box:nth-child(3) {
    animation: aparecer_project linear 1s forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
    opacity: 0;
    animation-delay: 2s;
}
.box img{
    width: 100%;
    inset: 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: clamp(14px, 5vw, 24px);
    letter-spacing: 2px;
    display: inline-block;
    max-width: 250px;
    max-width: fit-content;
    min-width: min-content; 
}
    

.overlay a{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--text-color);
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.overlay{
    font-size: clamp(12px, 0.8vw, 24px);
}
.box:hover img{
    transform: scale(1.2);
}

.box:hover .overlay {
    height: 100%;
}


@keyframes aparecer_project {
    0%, 25%{
        translate: 0 200%;
        opacity: 0;
    }
    100%{
        translate:0 0;
        opacity:1;
    }
}

/*------------------Tech Stack-------------------*/
section#habilidades{
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    margin:40px;
    align-items: center;
    justify-content: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -5%;
}
.tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
.tag-list li{
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem rgba(0,0,0,0.5);
}

.scroller{
    width: clamp(300px, 80vw, 1000px);
}

.scroller__inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated=true]{
    overflow: hidden;
    -webkit-mask:linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask:linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 120s) var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"]{
    --_animation-direction: reverse;
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% - .5rem));
    }   
}

/*------------------Area de Contacto------------------*/
section#contacto{
    display: flex;
    flex-direction: column;
    padding: 2vw 0;
    margin:40px;
    align-items: center;
    justify-content: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -5%;
}






/*ECRÃS MENORES*/
@media (max-width: 900px) {
    #cabeca h1{
        font-size: 13vw;
    }
    #cabeca p{
        font-size:3vw;
    }
    nav ul{
        font-size: 3vw;
    }
    h2{
        font-size:7vw;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        font-size: 2.5vw;
        align-items: center;
        background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    }
    .container img{
        width: 230px;
        height: 230px;
        animation-range: 0 35%;
    }
    .overlay h3{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #cabeca h1{
        font-size: 16vw;
    }
    #cabeca p{
        font-size:3.5vw;
    }
    nav ul{
        font-size: 3.5vw;
    }
    .container{
        font-size: 3vw;
    }
}